@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Joan&display=swap');

body{
    font-family:"Joan", sans-serif;
}

#headerimg{

    background-color: #f6c1a4;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

#headerpic{
    float: right;
    max-width: 100%;
    height: auto;
}

#title{
    margin: 0;
    padding: 0;
    position: absolute; 
    bottom: 0; 
    left: 20px; 
    font-size: 8vw; 
}

#logo{
    position: absolute; 
    float: left;
    width: 5%;
    max-width: 100%;
    height: auto;
}

